body {
  padding: 1rem;
}
header {
  padding: 20px;
  background: #4e96ad;
  background: linear-gradient(180deg, rgba(78, 150, 173, 1) 22%, rgba(54, 134, 158, 1) 44%, rgba(34, 113, 135, 1) 62%);
}
header p {
  font-size: 20px;
  margin: auto;
  color: white;
  text-align: center;
}
header a {
  font-size: 20px;
  margin: auto;
  color: white;
  text-align: center;
}
header ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}
.epicode-logo {
  width: 270px;
  height: 150px;
}

.main {
  padding: 20px;
  border: 5px solid transparent;
  margin: 25px;
  box-shadow: 12px -18px 43px -3px rgba(0, 0, 0, 0.1);
}
.first span {
  color: purple;
}
.video {
  max-width: 280px;
  width: 270px;
  height: 153px;
  border-radius: 20px;
}
.footer {
  width: 280px;
  height: 280px;
  padding: 20px;
  margin: 25px;
}
